<div class="aim">
  <!-- aimの内容を表示 -->
     <a href="/aim/<%= aim.id %>" class="aim_wrap_a">
      <div class="aim_wrap" id="">
        <div class="aim_img_div">
              <% if aim&.aim_thumb_img.attached? %>
                  <%= image_tag aim.aim_thumb_img ,class:"thumbnail-img", id: "thumbnail-img" %>
              <% else %>
                  <%= image_tag '/default_aim_thumb.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
              <% end %>
        </div>
        <div class="aim_title_content_div">
          <div class="aim_title_div">
            <h2 class="aim_title"><%= aim.title %></h2>
          </div>
          <div class="aim_content_div">
            <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
          </div>    
        </div>
        <div class="aim_updated_div">
          <% time = Time.parse(aim.updated_at.to_s)
             time_jst = time.in_time_zone('Tokyo')
             formatted_time = time_jst.strftime('%Y年%m月%d日')
          %>
          <time datetime="<%= formatted_time %>" class="update-date"><%= formatted_time %></time>
        </div>
      </div>
    </a>

<!--
  <% @aims.each do |aim| %>
    <a href="/aim/<%= aim.id %>" class="aim_wrap_a">
      <div class="aim_wrap" id="">
        <div class="aim_img_div">
              <% if aim&.aim_thumb_img.attached? %>
                  <%= image_tag aim.aim_thumb_img ,class:"thumbnail-img", id: "thumbnail-img" %>
              <% else %>
                  <%= image_tag '/default_aim_thumb.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
              <% end %>
        </div>
        <div class="aim_title_content_div">
          <div class="aim_title_div">
            <h2 class="aim_title"><%= aim.title %></h2>
          </div>
          <div class="aim_content_div">
            <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
          </div>    
        </div>
        <div class="aim_updated_div">
          <% time = Time.parse(aim.updated_at.to_s)
             time_jst = time.in_time_zone('Tokyo')
             formatted_time = time_jst.strftime('%Y年%m月%d日')
          %>
          <time datetime="<%= formatted_time %>" class="update-date"><%= formatted_time %></time>
        </div>
      </div>
    </a>
  <% end %>
  -->
</div>