<% content_for :title do %>ホーム<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:description => "目標を紹介するWebサービスです。") %>
<% end %>
<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<%= stylesheet_link_tag "top" %>

<%= render 'shared/side-ads' %>
<%= render 'shared/ads-mobile' %>

<div class="content_wrap">
  

<div id="aims">
  <%= render @aims %>
</div>

<!--
<i class="fa-duotone fa-spinner loading" id="loading"></i>
-->
<div class="loader loading"  id="loading"></div>

<style>
.loader {
  display:none;
  position: relative;
  left: 40%;
  transform: translateX(-40%);

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
</style>
<button id="add_aim_btn" class="add_aim_btn btn btn-primary">
    さらに表示
</button>

<!--
<%= link_to 'More aims', '#', id: 'load-more' %>

  <%= link_to "もっと読み込む", url_for(page: @page.to_i + 1) %>
  <%= link_to "0", url_for(page: 0) %>
  <%= link_to "1", url_for(page: 1) %>
  <%= link_to "2", url_for(page: 2) %>
  <%= link_to "3", url_for(page: 3) %>
  <%= link_to "4", url_for(page: 4) %>

<button id="add_at" class="add_aim_btn" data-last-id="<%= @aims.last.id %>">Load More</button>
-->
</div>

<script>
let page=1;
let $loading = $("#loading"); 
$(document).on('click', '.add_aim_btn', function(e) {
  e.preventDefault();
  console.log("page="+page);
  $loading.show();
  $('html, body').animate({scrollTop:$(document).height()}, 'slow');//一番下までスクロール

  $.ajax({
    url: "/top/aim/load_more",
    dataType: 'script',
    data: { page: page },
    success: (res) => {
      $("#aims").append(res); 
      console.log("成功"+res);
      page++;
      $('html, body').animate({scrollTop:$(document).height()}, 'slow');//一番下までスクロール
      $loading.hide();
    } ,
    error: (res) => {
      console.log("失敗"+res.responseText)
    }
  });
  
/*  
  //var lastId = $(this).data("last-id");
  var lastId = 32;
  $.ajax({
    url: '/top/aim/load_more',
    dataType: 'script',
    type: 'GET',
    //data: { page: gon.page },
    data: { last_id: lastId },
    success: function(response) {
      gon.page += 1;
      //console.log("response"+response)
    }
  });
  */
});
/*
// 記事のテンプレート
const articleTemplate = (article) => {
  return `
    <div>
      <h2>${aim.title}</h2>
      <p>${aim.content}</p>
    </div>
  `
}
  let page = 1 // ページング
  $articles =""
  articles=""
  $('#add_aim_btn').on('click', () => {
    page += 1 
    $.get('/', {page: page}, (data) => {
        // 読み込んだ記事を追加表示 
        console.log(data)
        // すでに読み込んだ分とマージ
        const articles = [...$articles, ...data.articles]
        //const articles = [...articles, ...data.articles]  
        //const articles = [...page, ...data.articles]  
        //const articles =" aaa"

        // HTMLを結合
        let html = '';
        articles.forEach(article => {
          html += articleTemplate(article); 
        });

        // 表示を更新
        $('#aims').append(html);

        // 読み込んだ分を保存 
        $articles = articles;
      })
  })  
  */
  /*var page = 2;
  $(document).on('click', '#add_aim_btn', function() {
 // $('#add_aim_btn').click(function() {
    console.log("s")
    $.ajax({
      url: '/top/index',
      data: { page: page },
      dataType: 'script'
    });
    page++;
 });
 */
</script>

<%= render 'shared/ads-mobile' %>