
<%= render 'shared/header' %>

<%= render 'shared/sidemenu' %>
<%= stylesheet_link_tag "top" %>

<%= link_to "+Aim新規作成", "/aim/new" ,class: "btn btn-success mb-12" %>

<%= JSON.pretty_generate(@result) %> 


  <% @aim.each do |aim| %>
    
    <a href="/aim/<%= aim.id %>">
      <div class="aim_wrap" id="">
        <%= image_tag '/baseball.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
     
        <h2><%= aim.title %></h2>
        <!--<li><%= aim.content %></li>-->
        
      </div>
    </a>
  <% end %>
