<% content_for :title do %>ホーム<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:description => "目標を紹介するWebサービスです。") %>
<% end %>
<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<%= stylesheet_link_tag "top" %>

<%= render 'shared/side-ads' %>
<%= render 'shared/ads-mobile' %>

<div class="content_wrap">
<a href="#" onclick="toggleTheme()"><i class="bx bx-adjust"></i>テーマ切替</a>

  <% @aim.each do |aim| %>
    <a href="/aim/<%= aim.id %>" class="aim_wrap_a">
      <div class="aim_wrap" id="">
        <div class="aim_img_div">
              <% if aim&.aim_thumb_img.attached? %>
                  <%= image_tag aim.aim_thumb_img ,class:"thumbnail-img", id: "thumbnail-img" %>
              <% else %>
                  <!-- アイコンがアップロードされていない場合の代替コードをここに追加 -->
                  <%= image_tag '/default_aim_thumb.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
              <% end %>
        </div>
        <div class="aim_title_content_div">
          <div class="aim_title_div">
            <h2 class="aim_title"><%= aim.title %></h2>
          </div>
          <div class="aim_content_div">
            <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
          </div>
          
        </div>
        <div class="aim_updated_div">
          <% time = Time.parse(aim.updated_at.to_s)
              #time = Time.parse('2023-11-04 14:17:24 UTC')
              #2023-11-04 14:17:24 UTC
              #2023-11-04 14:17:24 UTC
             time_jst = time.in_time_zone('Tokyo')
             formatted_time = time_jst.strftime('%Y年%m月%d日')
          %>
          <time datetime="<%= formatted_time %>" class="update-date"><%= formatted_time %></time>
        </div>
      </div>
    </a>
  <% end %>
</div>

  <button id="add_aim_btn" class="add_aim_btn btn btn-primary">
      さらに表示
  </button>

<%= render 'shared/ads-mobile' %>