<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<h1><%= @aim.title %></h1>

<div id="content_div">
<%= markdown(@aim.content) %>

</div>

<% if user_signed_in? %>
<a href="/aim/edit/<%= @aim.id %>">編集</a><br>
<% end %>
