<% content_for :title do %>【<% @aim.title %>】になる方法や仕事内容や年収は？徹底解説<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:description => sanitize(markdown(@aim.content))) %>
<% end %>

<%= render 'shared/header' %>
<%= render 'shared/side-ads' %>
<%= stylesheet_link_tag "aim" %>
<%= stylesheet_link_tag "article" %>

<div class="aim_wrap">

 <h1>【<%= @aim.title %>】になる方法や仕事内容や年収は？徹底解説</h1>

<div class="toolbar">
    <% if user_signed_in? %>
        <div class="iike_btn">
            <% #いいねしているか、していないかを判定
            aim = Aim.find(@aim.id) 
            if current_user.likes.exists?(aim_id: aim.id) # すでに「いいね」している場合の処理 %>
                <%= form_with(url: "/aim/like_delete", local: true, html:{ class:"like_delete_form" ,id:"like_delete_form"}) do |form| %>
                      <%= form.hidden_field :user_id, value: current_user.id %>
                      <%= form.hidden_field :aim_id, value: @aim.id %>
                       <%= button_tag(type: 'button', class: 'like_delete_btn favorite-btn', data: { user_id: current_user.id,aim_id: @aim.id }) do %>
                            <%= render 'shared/favorite-btn-already' %>
                        <% end %>
                <% end %> 
            <% else # まだ「いいね」していない場合の処理 %>
                <!--= form_for url: '/aim/like', method: :post do |f| %-->
                <%= form_with(url: "/aim/like", local: true, html:{ class:"like_form" ,id:"like_form"}) do |form| %>
                      <%= form.hidden_field :user_id, value: current_user.id %>
                      <%= form.hidden_field :aim_id, value: @aim.id %>
                      <%= button_tag(type: 'button', class: 'like_btn favorite-btn', data: { user_id: current_user.id,aim_id: @aim.id }) do %>
                            <%= render 'shared/favorite-btn' %>
                       <% end %>
                <% end %> 
            <% end %>
        </div>
    <% end %>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="Aim" data-url="https://www.aim-get.com" data-size="large" >Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


    <div>
    <a href="/user/<%= @author.user_name %>">@<%= @author.user_name %></a>
    </div>

   

    <div class="content_wrap">
    <%= markdown(@aim.content) %>

    </div>

    <% if user_signed_in? && @aim.user_id == current_user.id %>
      <a href="/aim/edit/<%= @aim.id %>">編集</a>
    <% end %>

</div>

    <div class="relation_aims">
    <h2 class="relation_aims_h">関連するaim</h2>
          <% @relation_aims.each do |aim| %>
              <a href="/aim/<%= aim.id %>" class="aim_wrap_a">
                <div class="relation_aim_wrap" id="">
                  <div class="aim_img_div">
                        <% if aim&.aim_thumb_img.attached? %>
                            <%= image_tag aim.aim_thumb_img ,class:"thumbnail-img", id: "thumbnail-img" %>
                        <% else %>
                            <%= image_tag '/default_aim_thumb.webp', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
                        <% end %>
                  </div>
                  <div class="relation_aim_title_content_div">
                    <div class="aim_title_div">
                      <h2 class="aim_title"><%= aim.title %></h2>
                    </div>
                    <div class="aim_content_div">
                      <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
                    </div>    
                  </div>
                  <div class="aim_updated_div">
                    <% time = Time.parse(aim.updated_at.to_s)
                      time_jst = time.in_time_zone('Tokyo')
                      formatted_time = time_jst.strftime('%Y年%m月%d日')
                    %>
                    <time datetime="<%= formatted_time %>" class="update-date"><%= formatted_time %></time>
                  </div>
                </div>
              </a>
            <% end %>
    </div>

<% if user_signed_in? %>
<script>
//いいねを非同期で行う
$(document).on('click', '.like_btn', function() {
 
      $(this).replaceWith('<button type="button" class="like_delete_btn favorite-btn" data-user_id="<%= current_user.id %>" data-aim_id="<%= @aim.id %>"><%= render 'shared/favorited-btn-bounce' %></button>');

  $.ajax({
    type: 'POST',
    url: '/aim/like',
    data: { 
        user_id: <%= current_user.id %>,
        aim_id: <%= @aim.id %>
        },
    success: (res) => {
      console.log("成功")
    },
    error: (res) => {
      console.log("失敗"+res.responseText)
            $(this).replaceWith('<button type="button" class="like_btn favorite-btn" data-user_id="<%= current_user.id %>" data-aim_id="<%= @aim.id %>"><%= render 'shared/favorite-btn' %></button>');
    }
  });
});

$(document).on('click', '.like_delete_btn', function() {
      $(this).replaceWith('<button type="button" class="like_btn favorite-btn" data-user_id="<%= current_user.id %>" data-aim_id="<%= @aim.id %>"><%= render 'shared/favorite-btn' %></button>');
  $.ajax({
    type: 'POST',
    url: '/aim/like_delete',
    data: { 
        user_id: <%= current_user.id %>,
        aim_id: <%= @aim.id %>
        },
    success: (res) => {
      console.log("成功")
    },
    error: (res) => {
      console.log("失敗"+res.responseText)
          $(this).replaceWith('<button type="button" class="like_delete_btn favorite-btn" data-user_id="<%= current_user.id %>" data-aim_id="<%= @aim.id %>"><%= render 'shared/favorited-btn-bounce' %></button>');
    }
  });
});
</script>
<% end %>