<% content_for :title do %>アカウント作成<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>
<%= stylesheet_link_tag "register" %>

<div class="Newuser_wrap">
      <div class="Newuser_wrap2">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "Form" }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="SignIn">アカウント作成</div>
                  <div class="Name inputTitle">ユーザー名</div>
                        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "NameInput" %>
                  <div class="Mailadress inputTitle">メールアドレス</div>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "MailInput" %>
                  <div class="Password inputTitle">パスワード<em>(最低<%= @minimum_password_length %>文字以上)</em></div>
                        <% if @minimum_password_length %>
                        <% end %>
                        <%= f.password_field :password, autocomplete: "new-password" , class: "PasswordInput" %>
                  <div class="Password2 inputTitle">パスワードを再入力</div>
                        <input type="password" class="PasswordInput2" name="password_confirmation">
                  <button type="submit" class="LoginBtn">アカウント作成</button>     
                  <div  class="to_sign_up">
                      <p>アカウントをお持ちの場合 <a href="/users/sign_in">ログイン</a></p>
                  </div>
                  <div class="to_aim">
                      <a href="/">@Aim</a>
                  </div>
            <% end %>
      </div>
</div>