<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<%= stylesheet_link_tag "top" %>
<%= render 'shared/side-ads' %>
<%= stylesheet_link_tag "play" %>

<div class="content_wrap">
  <h1>遊び</h1>
</div>