<header>
<div class ="head-wrap">
<div class ="svg-wrap">
    <!--
    <img src="Logo.png" class="Logo" >
    <span class="LogoTitle" >AimSite</span>
    <%= image_tag(s3_asset_path('Logo.svg'), content_type: 'image/svg+xml') %>
    -->
    

    <div class="Logo-a">
    <a href="/">
      <!-- 
      <svg viewBox="0 0 3000 250" role="img" aria-labelledby="BAKERY COLNE" class="b-hero-cover03-bg-logo">
        <use xlink:href="<%= s3_asset_path('Logo.svg') %>#Logo"></use>      
        <use xlink:href="/assets/Logo.svg#Logo"></use>
        <use xlink:href="<%= asset_path('Logo.svg') %>#Logo"></use> 
        <use xlink:href="<%= s3_asset_path('Logo.svg') %>#Logo" crossOrigin="Anonymous"></use>  
      </svg>
      -->
    <%= image_tag(s3_asset_path('Logo.svg'), content_type: 'image/svg+xml', class: 'Logo Logo-white')  %>
    <%= image_tag 'Logo_Black.svg' , class: 'Logo Logo-black' %>
    </a>
    </div>
      
    <!--
    <form method="GET" action="/search" class="SearchForm">
      <input type="text" class="SearchBox" name="word" placeholder="検索">
      <a href="" type="submit" class="SearchBtn"><%= image_tag(s3_asset_path('Logo.svg'), content_type: 'image/svg+xml') %></a>
    </form>
    -->

    <!--
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "NewUser_btn btn btn-success mb-12" %><br>
      <%= link_to "マイページ", "/mypage" ,class: "Login_btn btn btn-success mb-12" %>
      <%= link_to "Aim新規作成", "/aim/new" ,class: "NewAim_btn btn btn-success mb-12" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path ,class: "Login_btn btn btn-warning mb-12" %><br>
      <%= link_to '登録', new_user_registration_path ,class: "NewUser_btn btn btn-success mb-12" %>
    <% end %>
    -->

    <% if !user_signed_in? %>
      <%= link_to "ログイン", new_user_session_path ,class: "Login_btn btn btn-warning mb-12" %><br>
      <%= link_to '登録', new_user_registration_path ,class: "NewUser_btn btn btn-success mb-12" %>
    <% end %>
  </div>

<div class ="items">
  <form action="/search" method="get" class="search-form">
    <span class="material-symbols-outlined search-form-span" aria-hidden="true">
      search
    </span>
    <input type="search" autocomplete="off" placeholder="エイムを検索" value="" name="word" required="" class="search-form-input">
  </form>
  <button class="search-btn-mini">
    <span class="material-symbols-outlined search-span" aria-label="記事、質問を検索">
      search
    </span>
  </button>
  
  <!-- ログイン中のコンテンツ -->
  <% if user_signed_in? %>
  <div class="notifications-wrap">
    <button tabindex="0" class="notifications-button" id="notifications-button">
      <span class="material-symbols-outlined notifications-span" aria-label="通知">notifications</span>
     
      <% if @nocheck_notification_count > 0 %>
         <p class="badge"> </p>
      <% end %>
      
    </button>
  </div>
  <div class ="user-icon">
    <button id="header-user-icon-btn">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="currentColor"/>
      </svg>
    </button>
    <!--<div class="dropdown-wrap">
      <a href="/mypage" class="style-6cmdul"><span class="material-symbols-outlined style-uah80t" aria-hidden="true">person</span>マイページ</a>
      <a href="{{ url('/setting') }}" class="style-6cmdul"><span class="material-symbols-outlined style-uah80t" aria-hidden="true">settings</span>設定</a>
      <form method="POST" action="{{ route('logout') }}">@csrf<button type="submit">ログアウト</button></form>
    </div>-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <div class="container"> 
      <div class="dropdown-user-icon" id="dropdown-user-icon">
        <!--<a href="/mypage"><i class="bx bx-user"></i>マイページ</a>-->
        <a href="/user/<%= current_user.user_name %>"><i class="bx bx-user"></i>マイページ</a>
        <a href="/setting"><i class="bx bx-cog"></i>設定</a>

        <a href="#" class="design-light" id="design-light"><i class="bx bx-adjust"></i>デザイン:ライト</a>
        <a href="#" class="design-dark" id="design-dark"><i class="bx bx-adjust"></i>デザイン:ダーク</a>

        <!--link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "NewUser_btn btn btn-success mb-12"-->
        <!--<form name="sample_form_name" method="DELETE" action="<%= destroy_user_session_path %>">
          <a href="javascript:sample_form_name.submit()"><i class="bx bx-log-out"></i>ログアウト</a>
        </form>
        -->
        <%= link_to destroy_user_session_path, method: :delete  do %>
          <i class="bx bx-log-out"></i>"ログアウト"
        <% end %>
      </div>
      <div class="dropdown-notifications" id="dropdown-notifications">
        <p>通知</p><hr>
        <p class="notification-notthing">通知はありません。</p>

        <%= form_with(model: @notifications, url: notifications_check_path, local: true, html:{ name:"notification_check_form" ,class:"edit-form" ,id:"edit-form"}) do |form| %>
        <% end %>

        <% @notifications.each do |nc| %>
          <div class="nc_wrap">
            <div class="nc_img_wrap">
              <%= image_tag '/baseball.png', alt: "img", id: "thumbnail-img",loading:"lazy" ,height:"26", width:"26"%>
            </div>
            <a href="<%= nc[:url] %>" class="nc_a_wrap">
              <p><%= nc[:title] %></p>
              <time datetime="<%= nc[:created_at] %>" class="style-19rsmo4"><%= nc[:created_at] %></time>
              <!--<time datetime="2023-10-23T06:10:16Z" class="style-19rsmo4">2023/10/23 15:10</time>-->
            </a>
          </div>
        <% end %>

        <a href="/notifications" id="to_nc_list"><i class="bx bx-bell"></i>通知一覧を見る</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
</header>