<% content_for :title do %>設定<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>
<%= render 'shared/header' %>
<%= stylesheet_link_tag "setting" %>

<!--
<h1>設定</h1>
<a href="/account_delete">アカウント削除</a><br>
<a href="/password_forget">パスワードを忘れた方</a><br>
<p><%= @email %></p>
<p><%= @encrypted_password  %></p>
-->

<div class="container">
<h1>設定</h1>
    <div class="menu-wrap row justify-content-center">
        <div class=" col-md-10">   
            <div class="card">

                <div class="card-header"><h2>アイコン</h2></div>
                <div class="card-body">
                    <%= form_with(url: "/setting/icon_type_change/"+@current_user_id.to_s, local: true, html:{ class:"icon-edit-form" ,id:"icon-edit-form"}) do |form| %>
                        <div class="form-group row mb-0">
                            <div class="us-ImageSelect_item">
                                <label class="us-ImageSelect_itemIcon" for="user_gravatar_icon">
                                    <input id="user_gravatar_icon" type="radio" value="gravatar" name="icon_url" <%= 'checked="checked"' if @icon_type == 'gravatar' %> >
                                    <img title="" src="https://secure.gravatar.com/avatar/ae42b0a4f0ea9e49b96a17c3851b9d9f" class="setting_icon_img">
                                    <!-- <img src="https://www.gravatar.com/avatar/<%= @hashed_email %>?s=200" alt="User's Gravatar"> -->
                                </label>
                                <div class="us-ImageSelect_itemCaption">
                                    <span>Gravatar</span>
                                    <a target="_blank"  class="us-ImageSelect_itemCaption_icon" href="https://ja.gravatar.com/">
                                        <span class="material-symbols-outlined" id="to_gravatar_link_span">
                                        open_in_new
                                        </span>
                                    </a>
                                </div>
                            </div>
                        

                            <div class="us-ImageSelect_item">
                                <label class="us-ImageSelect_itemIcon" for="user_uploaded_profile_image">
                                    <input id="user_uploaded_profile_image" type="radio" value="custom" name="icon_url" <%= 'checked="checked"' if @icon_type == 'custom' %> >
                                        <% if current_user&.user_icon_image.attached? %>
                                            <%= image_tag current_user.user_icon_image ,class:"setting_icon_img" %>
                                        <% else %>
                                            <!-- アイコンがアップロードされていない場合の代替コードをここに追加 -->
                                            <img alt="RollTall" src="/custom_fefault.jpeg"  class="setting_icon_img">
                                        <% end %>
                                </label>
                                <div class="us-ImageSelect_itemCaption">
                                    <a href="/setting/user/custom_img">
                                        画像アップロード
                                    </a>
                                </div>
                            </div>

                            <div class="us-ImageSelect_item">
                                <label class="us-ImageSelect_itemIcon" for="user_default_icon">
                                    <input id="user_default_icon" type="radio" value="default" name="icon_url" <%= 'checked="checked"' if @icon_type == 'default' %> >
                                    <img alt="RollTall" src="/default_user_icon.png" class="setting_icon_img">
                                </label>
                                <div class="us-ImageSelect_itemCaption">
                                        デフォルト
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <script>
                //ラジオボタンを押すごとにsubmit
                //$(document).ready(function() {
                    /*console.log("aaa")
                    $('input[type="radio"]').on('change', function() {
                    //$('#user_uploaded_profile_image').on('change', function() {
                        console.log("ds");
                        $('#icon-edit-form').submit();
                        
                    });
                //});
                */
               // ラジオボタンを取得  
const radioButtons = document.querySelectorAll('input[name="icon_url"]');

// クリックイベントを追加
radioButtons.forEach(button => {
  button.addEventListener('click', () => {
    console.log("a")
    // フォーム要素を取得
    const form = button.closest('form');
    
    // フォーム送信
    form.submit(); 
  });
});
                </script>

                <div class="card-header"><h2>アカウント名を変更</h2></div>
                <div class="card-body">
                    <!--<form method="POST" action="{{ route('user.update', ['user_id' => $user_id]) }}">-->
                    <%= form_with(url: "/setting/update_username/"+@current_user_id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| %>

                        <div class="form-group row">
                            <div class="col-md-12 p-8">
                                <input id="name" type="txt" class="nameChange form-control" name="user_name" value="<%= @user_name %>" required autocomplete="name">
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-primary">
                            アカウント名変更
                            </button>
                        </div>
                    <% end %>
                </div>

                <div class="card-header"><h2>メールアドレスを変更</h2></div>
                <div class="card-body">
                   <!--@if (session('success'))
                        <div class="alert alert-success" role="alert">
                            {{ session('success') }}
                        </div>
                    @endif -->
                    

                    <!--<form method="POST" action="{{ route('user.update', ['user_id' => $user_id]) }}">
                     form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "Form" }) do |f| 
                     form_with(model: @notifications, html:{ class:"edit-form",id:"edit-form" }) do |form| 
                     @current_user_id
                     form_with(model: @aim, url: "/aim/update/"+@aim.id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| 
                    form_with(model: @user, url: "/setting/update_mail/"+@current_user_id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| 

                    -->
                    <%= form_with(url: "/setting/update_mail/"+@current_user_id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| %>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <input id="email" type="email" class="MailChange form-control valid" name="email" value="<%= @email %>" required autocomplete="email">

                                <!--@error('email')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror -->
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="">
                                <button type="submit" class="btn btn-primary">
                                メールアドレス変更
                                </button>
                            </div>
                        </div>
                    <!--</form>-->
                    <% end %>
                </div>

                <div class="card-header"><h2>パスワードを変更</h2></div>
                <div class="card-body">
                   <!-- @if (session('success'))
                        <div class="alert alert-success" role="alert">
                            {{ session('success') }}
                        </div>
                    @endif -->
                    
                    <!--<form method="POST" action="{{ route('user.update', ['user_id' => $user_id]) }}">
                     form_with(model: @user,url: "/setting/update_password/"+@current_user_id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| 
                     
                     form_for(@user, as: :user, url: password_path(:user), html: { method: :put }) do |form|
                     <form class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" method="post">
 
                    form_for(@resource, as: :resource_name, url: password_path(:resource_name), html: { method: :put }) do |form| 
                    -->
                     <%= form_with(url: "/setting/update_password/"+@current_user_id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| %>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <h3>現在のパスワード</h3>
                                <%= form.password_field :old_password,  autocomplete: "old_password" , id: "old-password", class: "PasswordChange form-control" , required: true %>
                                <h3>新しいパスワード</h3>
                                <%= form.password_field :new_password,  autocomplete: "new_password" , id: "new-password", class: "PasswordChange form-control" , required: true %>
                                <!--
                                <input id="old-password" type="password" class="PasswordChange form-control @error('old-password') is-invalid @enderror" name="old-password"  required >
                                <input id="new-password" type="password" class="NewPasswordChange form-control @error('new-password') is-invalid @enderror" name="new-password"  required>
     
                                <input autofocus="autofocus" autocomplete="new-password" type="password" name="user[password]" id="user_password" aria-autocomplete="list">
                                <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
                                
                                <= form.password_field :password, autofocus: true, autocomplete: "new-password" >
                                <= form.password_field :password_confirmation, autocomplete: "new-password" >
                                -->
                            <!--   
                                <= form.password_field :current_password, autocomplete: "off" %>
                            
                                <= form.password_field :password, autocomplete: "off" %>
                            -->
                                <h3>新しいパスワードを確認</h3>
                                <%= form.password_field :password_confirmation, autocomplete: "off" , id: "password_confirmation", class: "PasswordChange form-control" , required: true %>
                           
                               <!-- @error('password')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror -->
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="">
                                <button type="submit" class="btn btn-primary">
                                パスワード変更
                                </button>
                            </div>
                        </div>
                    <!--</form>-->
                    <% end %>
                </div>


                <div class="card-header"><h2>アカウント削除</h2></div>
                <div class="card-body">
                   <!-- @if (session('success'))
                        <div class="alert alert-success" role="alert">
                            {{ session('success') }}
                        </div>
                    @endif -->
                    

                    <!--<form method="POST" action="{{ route('user.delete', ['user_id' => $user_id]) }}">-->
                    <%= form_with(url: "/setting/delete_user/"+@current_user_id.to_s, local: true, html:{ class:"edit-form" ,id:"edit-form"}) do |form| %>
                        <div class="form-group mb-0">
                            <div class="">
                                <button type="submit" class="alert alert-danger" role="alert">
                                アカウント削除
                                <!--<a href="/account_delete">アカウント削除</a>-->
                                </button>
                            </div>
                        </div>
                     <!--</form>-->
                    <% end %>
                </div>
        </div>
    </div>
</div>
