<% content_for :title do %>LLM<% end %>
<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<%= stylesheet_link_tag "top" %>
<%= render 'shared/side-ads' %>
<%= stylesheet_link_tag "llm" %>

<div class="content_wrap">
  <h1>LLM</h1>
</div>