<% content_for :title do %>ログイン<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>
<%= stylesheet_link_tag "login" %>

<div class="Login_wrap" >
      <div class="Login_wrap2">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "Form" }) do |f| %>
                  <div class="SignIn">アカウントにサインイン</div>
                  <div class="Mailadress">メールアドレス</div>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "MailInput" %>
                  
                  <div class="password_flex_container">
                      <div class="Password flex-child" >パスワード</div>
                      <div class="flex-child PasswordFoget" >
                            <a href="/users/password/new">パスワードをお忘れの場合</a>
                      </div>
                  </div>
                  
                  <%= f.password_field :password, autocomplete: "current-password", class: "PasswordInput" %>
                  
                  <div class="MemolyPassword">
                      <input type="checkbox">
                      1週間ログインしたままにする
                  </div>
                  
                  <button type="submit" class="LoginBtn">
                      ログイン
                  </button> 


                  <div class="to_sign_up">
                      <p>アカウントをお持ちでない方は<a href="/users/sign_up">こちら</a>へ</p>
                  </div>
                  <div class="to_aim">
                      <a href="/">@Aim</a>
                  </div>
            <% end %>
      </div>
</div>