<%= render 'shared/header' %>
<%= stylesheet_link_tag "mypage" %>
<%= stylesheet_link_tag "top" %>
<%= stylesheet_link_tag "aim-delete-dialog" %>


<div class="profile_wrap">
    <div class="profile_content">
        <div class ="user-icon">
            <button id="header-user-icon-btn">
            <% @un=@user  %>
              <%= render 'shared/user_icon' %>
            </button>
        </div>
        <div class ="username_wrap">
            <h3>@<%= @user_name  %></h3>
        </div>
        <div class ="create_aim_length_wrap">
            <h3>作成した記事数：<%=  @create_aim_count %></h3>
        </div>

        <div class ="menu">
            <div class ="nice">
                <h3>7いいね</h3>
            </div>
            <div class ="follower">
                <h3>フォロワー : 4</h3>
            </div>
            <div class ="follow">
                <h3>フォロー : 8</h3>
            </div>
        </div>

        <div class ="edit_btn_wrap">
            <button id="edit-btn" class="edit_btn btn btn-primary">
                プロフィールを編集する
            </button>
        </div>
    </div>
</div>

<div class="tab_change_menu">
    <button class="tablink btn btn-primary" onclick="openTab('create_aims_wrap', this)" id="defaultOpen">作成したAim</button>
    <button class="tablink btn btn-primary" onclick="openTab('likes_wrap', this)">いいね</button>
    <button class="tablink btn btn-primary" onclick="openTab('followeds_wrap', this)">フォロー</button>
    <button class="tablink btn btn-primary" onclick="openTab('followers_wrap', this)">フォロワー</button>
</div>


<div class="create_aims_wrap tabcontent" id="create_aims_wrap" >
<h1>作成したAim一覧</h1>
  <% @create_aims.each do |aim| %>
    <a href="/aim/<%= aim.id %>">
      <div class="aim_wrap" id="">
        <div class="aim_img_div">
          <%= image_tag '/default_aim_thumb.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
        </div>
        <div class="aim_title_content_div">
          <div class="aim_title_div">
            <h2 class="aim_title"><%= aim.title %></h2>
          </div>
          <div class="aim_content_div">
            <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
          </div>
        </div>
      </div>
    </a>
    <!--aim削除・ログイン中のユーザー(自分)とそのマイページの持ち主が同じなら-->
    <% if @user.id==@current_user_id %>
      <button id="open-dialog-<%= aim.id %>" class="open-dialog aim-delete-btn alert alert-danger" role="alert">削除</button>
      <div id="dialog-overlay-<%= aim.id %>" class="dialog-overlay" style=" display:none;">
        <div id="dialog-box-<%= aim.id %>" class="dialog-box">
          <p>本当に削除しますか？</p>
          <button type="submit" id="confirm-delete-<%= aim.id %>" class="confirm-delete">はい</button>
          <button id="cancel-delete-<%= aim.id %>" class="ancel-delete">いいえ</button>
        </div>
      </div>
    <% end %>

<script>
let openDialogButton_<%= aim.id %> = document.getElementById('open-dialog-<%= aim.id %>');
let dialogOverlay_<%= aim.id %> = document.getElementById('dialog-overlay-<%= aim.id %>');
let dialogBox_<%= aim.id %> = document.getElementById('dialog-box-<%= aim.id %>');
let confirmDeleteButton_<%= aim.id %> = document.getElementById('confirm-delete-<%= aim.id %>');
let cancelDeleteButton_<%= aim.id %> = document.getElementById('cancel-delete-<%= aim.id %>');

openDialogButton_<%= aim.id %>.addEventListener('click', () => {
  dialogOverlay_<%= aim.id %>.style.display = 'flex';
});

function closeDialog() {
  dialogOverlay_<%= aim.id %>.style.display = 'none';
}

dialogOverlay_<%= aim.id %>.addEventListener('click', (e) => {
  if (e.target === dialogOverlay_<%= aim.id %>) {
    dialogOverlay_<%= aim.id %>.style.display = 'none';
    //closeDialog();
  }
});

confirmDeleteButton_<%= aim.id %>.addEventListener('click', () => {
  // 削除の確認を実行
  // ここに削除処理を追加
  document.getElementById("aim-delete-form-<%= aim.id %>").submit();
  dialogOverlay_<%= aim.id %>.style.display = 'none';
  //closeDialog();
});

cancelDeleteButton_<%= aim.id %>.addEventListener('click', () => {
  dialogOverlay_<%= aim.id %>.style.display = 'none';
  //closeDialog();
});
//console.log("aim.id:"+<%= aim.id %>)
</script>
      <!--aim削除-->
      <%= form_with(url: "/aim/delete/"+aim.id.to_s, local: true, html:{ class:"aim-delete-form" ,id:"aim-delete-form-#{aim.id}"}) do |form| %>
      <% end %>
  <% end %>
</div>





<div class="likes_wrap tabcontent" id="likes_wrap">
  <h1>いいねしたAim一覧</h1>

  <% 
  likes = Like.where(user_id: @user)
  likes.each do |like| 
  aim=Aim.find(like.aim_id)
  %>
    <a href="/aim/<%= aim.id %>">
      <div class="aim_wrap" id="">
        <div class="aim_img_div">
          <%= image_tag '/default_aim_thumb.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
        </div>
        <div class="aim_title_content_div">
          <div class="aim_title_div">
            <h2 class="aim_title"><%= aim.title %></h2>
          </div>
          <div class="aim_content_div">
            <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
          </div>
        </div>
      </div>
    </a>
      <!--いいねを取り消し・ログイン中のユーザー(自分)とそのマイページの持ち主が同じなら-->
      <% if @user.id==@current_user_id %>
          <%= form_with(url: "/aim/like_delete", local: true, html:{ class:"like_delete_form" ,id:"like_delete_form"}) do |form| %>
                <%= form.hidden_field :user_id, value: @user.id %>
                <%= form.hidden_field :aim_id, value: aim.id %>
                <%= button_tag(type: 'submit') do %>
                    <i class="material-symbols-outlined" style="color:#d2fe34">favorite</i>  
                <% end %>
          <% end %> 
      <% end %> 
  <% end %>
</div>

<div id="followeds_wrap" class="followeds_wrap tabcontent">
  <p>フォロー</p> 
</div>

<div id="followers_wrap" class="followers_wrap tabcontent">
  <p>フォロワー</p> 
</div>


<script>
/*
//aim削除
//const openDialogButton = document.getElementById('open-dialog');
const openDialogButton =document.getElementsByClassName("open-dialog");


const dialogOverlay = document.getElementById('dialog-overlay');
const dialogBox = document.getElementById('dialog-box');
const confirmDeleteButton = document.getElementById('confirm-delete');
const cancelDeleteButton = document.getElementById('cancel-delete');

var delete_aim_id;
var delete_aim_id2;
var ii=11;
console.log(ii);
for (var i = 0; i < openDialogButton.length; i++) {
  //delete_aim_id = openDialogButton[i].id;
  //console.log(delete_aim_id);
  delete_aim_id=openDialogButton[i].id;
  console.log("delete_aim_id1="+delete_aim_id);

  openDialogButton[i].addEventListener('click', () => {
    //dialogOverlay.style.display = 'flex';
    dialogOverlay[i].style.display = 'flex';
    //delete_aim_id=openDialogButton[i].id;
    //delete_aim_id2=delete_aim_id;
    //console.log("delete_aim_id2:"+delete_aim_id2);
  });

function closeDialog() {
  dialogOverlay.style.display = 'none';
}

dialogOverlay.addEventListener('click', (e) => {
  if (e.target === dialogOverlay) {
    closeDialog();
  }
});

cancelDeleteButton.addEventListener('click', () => {
  closeDialog();
});
}

confirmDeleteButton.addEventListener('click', () => {
  // 削除の確認を実行
  // ここに削除処理を追加
  //document.getElementById("aim-delete-form").submit();
  document.getElementById("aim-delete-form-"+delete_aim_id).submit();
  closeDialog();
});
*/
</script>


<script>
//タブの切替・作成したAimといいねしたAim
function openTab(tabName, elmnt) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(tabName).style.display = "block";
    elmnt.style.backgroundColor = "green";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>