<%= render 'shared/header' %>
<%= stylesheet_link_tag "mypage" %>
<%= stylesheet_link_tag "top" %>
<%= stylesheet_link_tag "aim-delete-dialog" %>


<div class="mypage_wrap">
  <div class ="user-icon">
    <button id="header-user-icon-btn">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="currentColor"/>
      </svg>
    </button>
  </div>
  <h3><%= @user_name  %>様</h3>
  <h3>作成した記事数：<%=  @create_aim_count %></h3>
</div>
<div class="create_aims_wrap">
<h1>作成したAim一覧</h1>
  <% @create_aims.each do |aim| %>
    <a href="/aim/<%= aim.id %>">
      <div class="aim_wrap" id="">
        <div class="aim_img_div">
          <%= image_tag '/baseball.png', alt: "img", class: "thumbnail-img", id: "thumbnail-img" %>
        </div>
        <div class="aim_title_content_div">
          <div class="aim_title_div">
            <h2 class="aim_title"><%= aim.title %></h2>
          </div>
          <div class="aim_content_div">
            <p class="aim_content"><%= sanitize(markdown(aim.content), tags: [])  %></p>
          </div>
        </div>
      </div>
    </a>
    <!--aim削除・ログイン中のユーザー(自分)とそのマイページの持ち主が同じなら-->
    <% if @user.id==@current_user_id %>
      <button id="open-dialog-<%= aim.id %>" class="open-dialog aim-delete-btn alert alert-danger" role="alert">削除</button>
      <div id="dialog-overlay-<%= aim.id %>" class="dialog-overlay" style=" display:none;">
        <div id="dialog-box-<%= aim.id %>" class="dialog-box">
          <p>本当に削除しますか？</p>
          <button type="submit" id="confirm-delete-<%= aim.id %>" class="confirm-delete">はい</button>
          <button id="cancel-delete-<%= aim.id %>" class="ancel-delete">いいえ</button>
        </div>
      </div>
    <% end %>

<script>
let openDialogButton_<%= aim.id %> = document.getElementById('open-dialog-<%= aim.id %>');
let dialogOverlay_<%= aim.id %> = document.getElementById('dialog-overlay-<%= aim.id %>');
let dialogBox_<%= aim.id %> = document.getElementById('dialog-box-<%= aim.id %>');
let confirmDeleteButton_<%= aim.id %> = document.getElementById('confirm-delete-<%= aim.id %>');
let cancelDeleteButton_<%= aim.id %> = document.getElementById('cancel-delete-<%= aim.id %>');

openDialogButton_<%= aim.id %>.addEventListener('click', () => {
  dialogOverlay_<%= aim.id %>.style.display = 'flex';
});

function closeDialog() {
  dialogOverlay_<%= aim.id %>.style.display = 'none';
}

dialogOverlay_<%= aim.id %>.addEventListener('click', (e) => {
  if (e.target === dialogOverlay_<%= aim.id %>) {
    dialogOverlay_<%= aim.id %>.style.display = 'none';
    //closeDialog();
  }
});

confirmDeleteButton_<%= aim.id %>.addEventListener('click', () => {
  // 削除の確認を実行
  // ここに削除処理を追加
  document.getElementById("aim-delete-form-<%= aim.id %>").submit();
  dialogOverlay_<%= aim.id %>.style.display = 'none';
  //closeDialog();
});

cancelDeleteButton_<%= aim.id %>.addEventListener('click', () => {
  dialogOverlay_<%= aim.id %>.style.display = 'none';
  //closeDialog();
});
//console.log("aim.id:"+<%= aim.id %>)
</script>
      <!--aim削除-->
      <%= form_with(url: "/aim/delete/"+aim.id.to_s, local: true, html:{ class:"aim-delete-form" ,id:"aim-delete-form-#{aim.id}"}) do |form| %>

      
      
      <% end %>
  <% end %>
</div>


<script>
/*
//aim削除
//const openDialogButton = document.getElementById('open-dialog');
const openDialogButton =document.getElementsByClassName("open-dialog");


const dialogOverlay = document.getElementById('dialog-overlay');
const dialogBox = document.getElementById('dialog-box');
const confirmDeleteButton = document.getElementById('confirm-delete');
const cancelDeleteButton = document.getElementById('cancel-delete');

var delete_aim_id;
var delete_aim_id2;
var ii=11;
console.log(ii);
for (var i = 0; i < openDialogButton.length; i++) {
  //delete_aim_id = openDialogButton[i].id;
  //console.log(delete_aim_id);
  delete_aim_id=openDialogButton[i].id;
  console.log("delete_aim_id1="+delete_aim_id);

  openDialogButton[i].addEventListener('click', () => {
    //dialogOverlay.style.display = 'flex';
    dialogOverlay[i].style.display = 'flex';
    //delete_aim_id=openDialogButton[i].id;
    //delete_aim_id2=delete_aim_id;
    //console.log("delete_aim_id2:"+delete_aim_id2);
  });

function closeDialog() {
  dialogOverlay.style.display = 'none';
}

dialogOverlay.addEventListener('click', (e) => {
  if (e.target === dialogOverlay) {
    closeDialog();
  }
});

cancelDeleteButton.addEventListener('click', () => {
  closeDialog();
});
}

confirmDeleteButton.addEventListener('click', () => {
  // 削除の確認を実行
  // ここに削除処理を追加
  //document.getElementById("aim-delete-form").submit();
  document.getElementById("aim-delete-form-"+delete_aim_id).submit();
  closeDialog();
});
*/
</script>